<header class="container-fluid" id="pageHead">
    <div class="menuBar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/upload">Upload</a></li>
            <li><a href="/stats">Stats</a></li>
            <li><a href="/piracy">Piracy</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-xs-4" id="pageTitle">
            <h1> <%= pageName %> </h1>
            </div>
        <div class="col-xs-4">
            <p> <%= pageDescription %> </p>
        </div>
    </div>
</header>