<header class="container-fluid" id="pageHead">
    <div class="row centerTable">
        <div class="col-xs-6 centerCol">
            <img src="images/open.png" width="80" height="80">
           <h1><%= pageName %></h1>

        </div>

            <div class="col-xs-6 centerCol vertCenter">


                <p> <%= pageDescription %> </p>

        </div>
    </div>
</header>
<% include nav.ejs %>
