<header class="container-fluid" id="pageHead">
    <div class="menu">
        <ul>
            <li><a href="../index.ejs">Home</a></li>
            <li><a href="../upload.ejs">Upload</a></li>
            <li><a href="../stats.ejs">Stats</a></li>
            <li><a href="../piracy.ejs">Piracy</a></li>
        </ul>
    </div>

    <div class="row centerTable">
        <div class="col-xs-6 centerCol">
           <h1><%= pageName %></h1>

        </div>

            <div class="col-xs-6 centerCol vertCenter">


                <p> <%= pageDescription %> </p>

        </div>
    </div>
</header>