<header class="container-fluid" id="pageHead">
    <div class="row">
        <div class="col-xs-4" id="pageTitle">
            <h1> <%= pageName %> </h1>
            </div>
        <div class="col-xs-4">
            <p> <%= pageDescription %> </p>
        </div>
    </div>
</header>