<div>

    <form id="content">
    <legend for="title">Title</legend>
    <textarea id="title" type="text" rows="1" cols="90"></textarea>
    </form>
<button id="addContent">Add Field</button>




</div>