<div>
    <form id="content">
    <legend for="title">Title</legend>
        <div id="titleDiv" class="blocko">
    <textarea id="title" type="text" class="form-control" rows="1" cols="90"></textarea>
        </div>

        <div id="endContent"></div>
    </form>
</div>