
<% if(pageDescription != ''){ %>
<div class="menu">
    <ul>
        <li class="menuItem"><a href="/">Home</a></li>
        <li class="menuItem"><a href="/signup">Sign Up</a></li>
        <li class="menuItem"><a href="/upload">Upload</a></li>
        <li class="menuItem"><a href="/stats">Stats</a></li>
        <li class="menuItem"><a href="/tracker">Piracy</a></li>
    </ul>
</div>

<% } %>

<script src="javascripts/navMenu.js">
</script>