
<% if(pageDescription != 'Welcome Back'){ %>
<div class="menu">
    <ul class="nav nav-tabs">
        <li class="menuItem presentation"><a href="/">Home</a></li>
        <li class="menuItem presentation"><a href="/signup">Sign Up</a></li>
        <li class="menuItem presentation"><a href="/upload">Upload</a></li>
        <li class="menuItem presentation"><a href="/stats">Stats</a></li>
        <li class="menuItem presentation"><a href="/tracker">Piracy</a></li>
    </ul>
</div>

<% } %>

<script src="javascripts/navMenu.js">
</script>