<div id="uploads" class="empty"></div>
<div id="toolkit">

    <h3>Toolkit</h3>
    <div id="wrapPanel">
    <div class="row">
        <div>
            <!--<button class="btn btn-secondary col-xs-12" id="btn_upload">Choose File</button>-->
            <!--<input id="song" type="file" class="hide">-->
            <!--<script>-->
            <!--$("#btn_upload").click(function (e) {-->
            <!--e.preventDefault();-->
            <!--$("#song").trigger('click');-->
            <!--});-->
            <!--</script>-->
            <iframe src="/up" frameBorder="0"  scrolling="no"></iframe>

            <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
            <script src="javascripts/scLogin.js"></script>
            <!--<form style="background-color: powderblue"  id="uploadForm"class="form" enctype="multipart/form-data" >-->
            <!--<input type="file" id="fileID"  class="form-control" name="file">-->
            <!--<input type="submit" id="fileUpload" class="form-control" value="Upload">-->
            <!--&lt;!&ndash;<img src="" height="200" alt="Image preview...">&ndash;&gt;-->
            <!--</form>-->
            <script>
//                $('#fileUpload').submit(function(evt) {
//                    console.log("here");
//                    evt.preventDefault();
//                    var fd = new FormData($(this)[0]);
//                    $.ajax({
//                        url: '/up/file',
//                        data: fd,
//                        processData: false,
//                        contentType: false,
//                        type: 'POST',
//                        success: function (data) {
//                            console.log(data);
//                        }
//                    });
//
//                });

            </script>

            <!--<form style="background-color: powderblue"  action="/up/file" class="form" enctype="multipart/form-data" method="post">-->
                <!--<input type="file" id="fileID" onchange="previewFile()" class="form-control" name="file">-->
                <!--<input type="submit" id="fileUpload" class="form-control" value="Upload">-->
                <!--<img src="" height="200" alt="Image preview...">-->
    <!--</form>-->



        </div>
    </div>
    <div class="row padTop">
<span class="col-xs-6 " style="padding: 0 21px;">
    <button id="addContent" class="toolkitButton btn btn-secondary">Add Block</button>
</span>

<span class=" col-xs-6 " style="padding: 0 21px;">
    <button id="upload" class="toolkitButton btn btn-secondary">Upload</button>
</span>
</div>
    <div class="row padTop">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
             <span class='input-group date' id='datetimepicker1'>
                 <input type='text'  class="form-control"/>
                     <span class=" input-group-addon glyphicon glyphicon-calendar"></span>
             </span>
            </div>
        <div class="col-xs-1"></div>
</div>
    <div id="checks">
        <div class="row">
            <div class="col-xs-5">
                <label class="c-input c-checkbox">
                    <input name="facebook" type="checkbox" id="faceCheck" class="col-xs-2 platform">
                    <span class="c-indicator"></span>
                    Facebook
                </label>
            </div>
            <div class="col-xs-5">
                <label class="c-input c-checkbox">
                    <input name="soundcloud" type="checkbox" id="soundCheck" class="col-xs-2 platform">
                    <span class="c-indicator"></span>
                    Soundcloud
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-5">
                <label class="c-input c-checkbox">
                    <input name="youtube" type="checkbox" id="youCheck" class="platform">
                    <span class="c-indicator"></span>
                    YouTube
                </label>
            </div>
            <div class="col-xs-5">
                <label  class="c-input c-checkbox">
                    <input name="twitter" type="checkbox" id="twitCheck" class="platform">
                    <span class="c-indicator"></span>
                   Twitter
                    </label>
            </div>
        </div>

    </div>
    <div class="form-group padTop">
        <h5>Block Type</h5>
            <select id="blockType" class="form-control" style="width: 83%; margin-left: 32px">
                <option>Flat Content</option>
            </select>
        </div>
</div>
    <div class="form-group soundcloudInputs">
        <h5></h5>
        <input type="text" class="form-control" id="songTitle" placeholder="Title"/>
        <input type="text" class="form-control" id="description" placeholder="Description">
        <label for="genre">Genre</label>
        <select name="genre" id="genre">
            <option value="trance">Trance</option>
            <option value="deephouse">Deep House</option>
        </select>

        <label for="playlist">Playlist</label>
        <select name="playlist" id="playlist">
            <option value="listy" >Listy</option>

        </select>


    </div>

    <div class="form-group youtubeInputs" style="background-color: #efefff">
        <input type="text" class="form-control" id="youtube-title" placeholder="Title"/>
        <input type="text" class="form-control" id="youtube-description" placeholder="Description" />
        <input type="text" class="form-control" id="youtube-keywords" placeholder="Keywords" />
    </div>
    <!--YOUTUBE UPLOAD-->

    <br>
    <br>
    <br>




    <div class="post-sign-in">
         <span id="signinButton" class="pre-sign-in">
      <span
              class="g-signin"
              data-callback="signinCallback"
              data-clientid="166239123681-ahj4kkcpruvf0hocqktah647kb3ine73.apps.googleusercontent.com"
              data-cookiepolicy="single_host_origin"
              data-scope="https://www.googleapis.com/auth/youtube.upload https://www.googleapis.com/auth/youtube">
      </span>
    </span>

        <div>
            <img id="channel-thumbnail">
            <span id="channel-name"></span>
        </div>

        <div>
            <label for="videoTitle">Title</label>
            <input id="videoTitle" class="form-control" type="text" value="">
        </div>
        <div>
            <label for="videoDescription">Description</label>
            <textarea id="videoDescription" class="form-control"></textarea>
        </div>
        <div>
            <label for="privacy-status">Privacy Status:</label>
            <select id="privacy-status">
                <option>public</option>
                <option>unlisted</option>
                <option>private</option>
            </select>
        </div>

        <div>

            <!--<input input type="file" id="file" class="button" accept="video/*">-->
            <p id="disclaimer">
                <input type="checkbox" id="disclaimerCheck">
                By uploading a video, you certify that you own all rights to the content or that you
                areauthorized by the owner to make the content publicly available on YouTube, and that it otherwise
                complies with the YouTube Terms of Service located <a href="http://www.youtube.com/t/terms"
                                                                      target="_blank">HERE</a>
            </p>
            <!--<button id="button">Upload Video</button>-->
            <div class="during-upload">
                <p><span id="percent-transferred"></span>% done (<span id="bytes-transferred"></span>/<span
                            id="total-bytes"></span> bytes)</p>
                <progress id="upload-progress" max="1" value="0"></progress>
                <!--</div>-->

                <div class="post-upload">
                    <p>Uploaded video with id <span id="video-id"></span>. Polling for status...</p>
                    <ul id="post-upload-status"></ul>
                    <div id="player"></div>
                </div>
            </div>


            <script src="//apis.google.com/js/client:plusone.js"></script>
            <script src="javascripts/cors_upload.js"></script>
            <script src="javascripts/upload_video.js"></script>

        </div>

    </div>


</div>