<div id="toolkit">
    <h2>Toolkit</h2>
<div class="row">
    <button id="addContent" class="col-xs-4">Add Block</button>
    <button class="col-xs-4">Button2</button>
    <button id="upload" class="col-xs-4">Upload</button>
</div>
</div>