<div id="toolkit">
    <h2>Toolkit</h2>
<div class="row">
    <button class="col-xs-4">Button1</button>
    <button class="col-xs-4">Button2</button>
    <button class="col-xs-4">Button3</button>
</div>
</div>