<div id="toolkit">
    <h2>Toolkit</h2>

    <div class="row">
        <div  class="col-xs-12">
        <label for="song">Upload Song</label><br/>
        <input id="song" type="file" >
            </div>
    </div>
<div class="row">

    <button id="addContent" class="col-xs-4">Add Block</button>
    <button class="col-xs-4">Button2</button>
    <button id="upload" class="col-xs-4">Upload</button>

</div>
    <div class="row">
        <div  class="col-xs-8">
            <b>Facebook</b>
            <input name="facebook" type="checkbox" id="faceCheck" class="col-xs-2 platform">
    </div>
        </div>
    <div class="row">
        <div  class="col-xs-8">
            <b>Soundcloud</b>
            <input name="soundcloud" type="checkbox" id="soundCheck" class="col-xs-2 platform">
        </div>
    </div>
    <div class="row">
        <div  class="col-xs-8">
        <b>YouTube</b>
            <input name="youtube" type="checkbox" id="youCheck" class="col-xs-2  platform">
        </div>
    </div>
    <div class="row">
        <div  class="col-xs-8">
            <b>Beatport</b>
            <input name="beatport" type="checkbox" id="beatCheck" class="col-xs-2 platform">
        </div>
    </div>
</div>