
<form style="background-color: powderblue" action="/up/file" class="form" enctype="multipart/form-data" method="post">
    <input type="file"  class="form-control" name="file">
    <input type="submit" class="form-control" value="Upload">
    </form>