<html>

<head>
    <meta charset="UTF-8">
    <title>Statictics</title>
    <% include partials/sources.ejs %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

    <script type="text/javascript" src="/javascripts/psd3.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/psd3.css" />
</head>



<body>
<% include partials/header.ejs%>
<div id="mainBody">
    <div id="chartContainer" class="well"></div>
    <script>var sampleData = [<%- graphy %>];
        console.log(JSON.stringify(sampleData));</script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
</div>
</body>

</html>