<html>
<head>
    <title>Open App</title>
    <meta charset="utf-8">
    <% include partials/sources.ejs %>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src=".https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

    <script type="text/javascript" src="/javascripts/psd3.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/psd3.css" />
</head>
<body>

<div id="o-wrapper" class="o-wrapper">
<div class="header">
    <div class="c-buttons">
        <div id="c-button--push-left" class="c-button"></div>
        <img src="images/toolkit.png" id="c-button--slide-right"  style="float: right;  margin-top: -5px;"/>
    </div>

    <div id="logo">
        <h1 class="logos">open</h1>
        <img class="logos" src="images/open.png" style="width: 45px; ">
        <h1 class="logos">records</h1>
    </div>
    </div>
    <div id="container">
        <div id="chartContainer" class="well"></div>
        <script>var sampleData = [<%- graphy %>];
            console.log(JSON.stringify(sampleData));</script>
        <script type="text/javascript" src="/javascripts/main.js"></script>
    </div>

    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>

</div>
<!-- /o-wrapper -->

<nav id="c-menu--push-left" class="c-menu c-menu--push-left">
    <button class="c-menu__close">Close Menu</button>
    <ul class="c-menu__items">
        <li class="c-menu__item"><a href="/" class="c-menu__link">Home</a></li>
        <li class="c-menu__item"><a href="accounts" class="c-menu__link">Register</a></li>
        <li class="c-menu__item"><a href="upload" class="c-menu__link">Upload</a></li>
        <li class="c-menu__item"><a href="stats" class="c-menu__link">Stats</a></li>
        <li class="c-menu__item"><a href="tracker" class="c-menu__link">Piracy</a></li>
    </ul>
</nav>

<nav id="c-menu--slide-right" class="c-menu c-menu--slide-right">
    <button class="c-menu__close">Close Menu</button>
    <ul class="c-menu__items">
        <!--<li class="c-menu__item"><a href="#" class="c-menu__link">Home</a></li>-->
        <!--<li class="c-menu__item"><a href="#" class="c-menu__link">Sign Up</a></li>-->
        <!--<li class="c-menu__item"><a href="#" class="c-menu__link">Upload</a></li>-->
        <!--<li class="c-menu__item"><a href="#" class="c-menu__link">Stats</a></li>-->
        <!--<li class="c-menu__item"><a href="#" class="c-menu__link">Piracy</a></li>-->
    </ul>
</nav>


<div id="c-mask" class="c-mask"></div>

<script type="text/javascript" src="javascripts/menu.js"></script>
<script>
    var pushLeft = new Menu({
        wrapper: '#o-wrapper',
        type: 'push-left',
        menuOpenerClass: '.c-button',
        maskId: '#c-mask'
    });

    var slideRight = new Menu({
        wrapper: '#o-wrapper',
        type: 'slide-right',
        menuOpenerClass: '.c-button',
        maskId: '#c-mask'
    });

    var pushLeftBtn = document.querySelector('#c-button--push-left');
    pushLeftBtn.addEventListener('click', function (e) {
        e.preventDefault();
        pushLeft.open();
    });

    var slideRightBtn = document.querySelector('#c-button--slide-right');
    slideRightBtn.addEventListener('click', function (e) {
        e.preventDefault();
        slideRight.open();
    });

</script>



</body>
</html>