<html>
<head>
    <title>Open App</title>
    <meta charset="utf-8">
    <script src="/javascripts/fbLogin.js">
    </script>
</head>
<body>
<% include partials/header.ejs %>
<script>
login();
</script>
</body>


</html>