<html>
<head>
<title>Open App</title>
   <meta charset="utf-8">
   <% include partials/sources.ejs%>
</head>
<body>
<% include partials/header.ejs %>
<div id="mainBody" class="content-fluid">
 <%include partials/myContent.ejs %>
</div>
<aside>
   <%include partials/toolkit.ejs%>
</aside>
<script>

   $("#addContent").on("click",function() {
      $(<% include partials/p.txt %>).insertAfter("#title");
   } )


   $("#upload").on("click", function(){
      var message = "";
      message += $("#title").val() + "\n";
      $(".block").each(function(){
         message += $(this).val() + "\n";
      })
      console.log(message);
      uploadFacebook(message);
   })

</script>
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script src="javascripts/fbLogin.js"></script>
</body>


</html>