<html>
<head>
<title>Open App</title>
   <meta charset="utf-8">
   <link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
   <link href="
https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css" rel="stylesheet" type="text/css">
   <script   src="https://code.jquery.com/jquery-2.2.3.js"
             integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="
             crossorigin="anonymous">
   </script>



</head>
<body>
<% include partials/header.ejs %>
<div id="mainBody" class="content-fluid">
 <%include partials/myContent.ejs %>
</div>
<aside>
   <%include partials/toolkit.ejs%>
</aside>
<script>

   $("#addContent").on("click",function() {
      $(<% include partials/p.txt %>).insertAfter("#title");
   } )


   $("#upload").on("click", function(){
      var message = "";
      message += $("#title").val() + "\n";
      $(".block").each(function(){
         message += $(this).val() + "\n";
      })
      console.log(message);
      uploadFacebook(message);
   })

</script>
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script src="javascripts/fbLogin.js"></script>
</body>


</html>