body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.menuBar ul {
  list-style-type: none;
  overflow: hidden;
  float: right;
}

.menuBar li {
  float: left;
}

.menuBar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

.menuBar a:hover {
  border-top-style: solid;
  margin-bottom: -2px;
}

.activeMenu li a:active, li a::selection {
  border-top-style: solid;
}

/*
#mainBody{
  padding-left: 30px;

}
#pageHead{
  background-color: darkseagreen;
  min-height: 103px;
}
#pageTitle{
  padding-top: 25px;

}

*/
#toolkit{
  display: inline-block;
  position:fixed;
  right:0;
  top:150px;
  padding: 40px;
  margin-right: 12px;
  border: 2px solid powderblue;


}
.feet{
  background-color: #00B7FF;
  min-height: 12px;
  width:100%;
}

.blocko{
  display: inline-block;
  margin-bottom: 20px;
}
body, html{
  padding: 0;
  margin: 0;

}