@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

input[type=text] { width: 100%; box-sizing: border-box; height: 28px; }

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}
.clearBack {
  background:transparent;

}
a {
  color: #00B7FF;
}
#mainBody{
  position: relative;
  top:150px;
  padding-left: 30px;
  margin:0;

}
#pageHead{
  background-color: ghostwhite;
  min-height: 103px;
  position: fixed;
  width: 100%;
  z-index: 5;
  border-bottom: 1px solid #78909C;
  color: #181818;

}
.centerTable{
  display: flex;
  align-items: center;
  height: 103px;


}

.vertCenter{
height: 30px;
  line-height: 30px;

}

 .centerCol h1{ display: inline-block}


#toolkit{
  display: inline-block;
  position:fixed;
  right:0;
  top:154px;
  padding: 40px;

  border: 2px solid powderblue;

  background-color: ghostwhite;
  text-align: center;
  width: 462px;
}

.radios{
  position: relative;
  left: 776px;
  top: -145px;
}
.feet{
  background-color: #00B7FF;
  min-height: 12px;
  width:100%;
}

.blocko{
  display: inline-block;
  margin-bottom: 20px;
}
body, html{
  padding: 0;
  margin: 0;

}
.blocko textarea:focus{
  background-color: powderblue;

}

.menu {
  position: fixed;
  text-align: center;
  width: 100%;
  top:103px;
  background-color: #CFD8DC;
  max-height: 54px;
  z-index: 6;
  border-top: 1px solid #78909C;
  border-bottom: 1px solid #78909C
}

.menu ul {
  list-style-type: block;
}

.menu li {
  margin: 0;
  display: inline-block;
}

.menu li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #181818;
  font-weight: 600;
}




.hide{
  visibility: hidden;
  
}
.toolkitButton{
  min-width:95%;


}

#checks{
  margin-left: 60px;
  margin-top: 40px;
}

iframe{
  display: inline-block;

}

#uploads{
  position: absolute;
  top: 0;
  right: 450px;
  width: 80px;
  bottom:0;
  background-color: #CFD8DC;
  border-left: 1px solid #78909C;
  border-right: 1px solid #78909C;

}

#footer{
  position: fixed;
  top: 656px;
  width: 100%;
  height: 200px;
  background-color: ghostwhite;
  overflow-y: hidden;
  border-top: 1px solid #78909C;

}

.desc{
  text-align: center;
  position: absolute;
  right: 0px;
  height: 48px;
  top: 20px;
  width: 452px;

  border-top: 1px solid #78909C;
  border-left: 1px solid #78909C;
  border-top-left-radius: 25px;
}

#centerDiv{
  text-align: center;

}

.padTop{
  margin-top: 15px;
}